<%- include('partials/header'); -%>

<form action="POST">
  <h2>Log In</h2>
  <label for="email">email</label>
  <input type="email" name="email" id="email" />
  <div class="email error"></div>
  <label for="password">password</label>
  <input type="password" name="password" id="password" />
  <div class="password error"></div>
  <button type="submit">Log In</button>
</form>

<%- include('partials/footer'); -%>
