@font-face {
  font-family: "Lexend Mega";
  src: url("./lexend-mega/static/LexendMega-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lexend Mega";
  src: url("./lexend-mega/static/LexendMega-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Bree Serif - added so the project can use the Bree Serif family.
   Assumes the font file is located at ./bree-serif/BreeSerif-Regular.ttf
   If the file name or path differs, update the src URL accordingly. */
@font-face {
  font-family: "Bree Serif";
  src: url("./bree-serif/BreeSerif-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
